<!-- display all the Restaurants -->
<!-- have @restaurants var available -->

<h3>Check out all the restaurants you added:</h3>

<!-- this could use a prettier display -->
<% @restaurants.each do |restaurant| %>
  <p><h4><%= restaurant.name %></h4></p>
  <ul>
    <li>Cuisine: <%= restaurant.cuisine %></li>
    <li>Address: <%= restaurant.address %></li>
    <li>City: <%= restaurant.city %></li>
    <li>State: <%= restaurant.state %></li>
    <li>Zip: <%= restaurant.zip %></li>
  </ul>
  <!-- add link to edit info -->
  <a href="/restaurants/#{restuarant.id}/edit">Edit the info for this restaurant</a>
<% end %>
